<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wengmengfan.btwang">


    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 允许程序录制音频 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_LOGS" /> <!-- 获取logcat日志 -->

    <application
        android:name="com.wengmengfan.btwang.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".ui.activity.ViewBoxActivity"
            android:screenOrientation="portrait"/>

        <service android:name=".service.DownLoadService" />
        <service android:name=".service.DownTorrentVideoService" />


        <activity
            android:name="player.XLVideoPlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"

            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/PlayerTheme">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="ijkplayer.xlvideo.play" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
                <data android:scheme="http" />
                <data android:scheme="ftp" />
                <data android:scheme="file" />
                <data android:scheme="ed2k" />
                <data android:scheme="thunder" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
                <data android:scheme="http" />
                <data android:scheme="ftp" />
                <data android:scheme="file" />
                <data android:scheme="ed2k" />
                <data android:scheme="thunder" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.AboutActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.FeedbackActivity"
            android:screenOrientation="portrait"/>


        <!--<service-->
        <!--android:name=".service.DownTorrentVideoService"-->
        <!--android:exported="true"-->
        <!--android:process=":DownTorrentVideoService">-->

        <!--<intent-filter>-->
        <!--<action android:name="com.wengmengfan.btwang.service.DownTorrentVideoService" />-->
        <!--</intent-filter>-->
        <!--</service>-->



        <provider
            android:name=".contentprovider.PlayProvider"
            android:authorities="com.wengmengfan.btwang.provider"
            android:exported="true"
            android:process=":provider" />



        <meta-data
            android:name="UMENG_APPKEY"
            android:value="59ff4165b27b0a327f000476" />
        <meta-data
            android:name=" UMENG_CHANNEL"
            android:value="Wandoujia" />


        <!-- 蒲公英 -->
        <meta-data
            android:name="PGYER_APPID"
            android:value="6f11fefb1823add0a20493e241872a05"></meta-data>

    </application>


</manifest>